.slider__indicators {
  display: none;
}

@media (min-width: 1024px) {
  .slider__body {
    overflow: hidden;
  }

  .slider__container {
    position: fixed;
    display: block;
    height: 100%;
    width: 80%;
    margin: 0;
    padding: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    -o-transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
  }

  .slider__page {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .slider__indicators {
    display: block;
    position: fixed;

    /* width: 8%; */
    top: 50%;
    right: 18px;
    z-index: 2;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .slider__indicator {
    display: block;
    margin: 10px 0;
    cursor: default;
    text-align: right;
    left: 0;
  }

  .current-section,
  .counter-section,
  .counter-icon {
    display: inline-block;
  }

  .current-section,
  .counter-section {
    left: 0;
    position: relative;
  }

  .slider__indicator > .current-section,
  .counter-section {
    display: none;
  }

  .counter-section {
    margin-left: 5px;
  }

  .counter-icon {
    width: 8px;
    height: 2px;
    margin: 10px 0;
    margin-left: 30px;
    background-color: #333;
    cursor: default;
    text-align: right;
    vertical-align: middle;
    right: 0;
  }

  .slider__indicator--active .counter-icon {
    width: 14px;
    margin-left: 25px;
  }

  .slider__indicator--active > .current-section,
  .slider__indicator--active > .counter-section {
    display: inline-block;
  }
}
